.welcome {
    color: white;
    padding: 20px;
    margin-left: 20px;
}

.orderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.orderCard {
    background-color: #212121;
    border: 3px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    color: white;
    width: calc(33.33% - 40px);
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.orderCard p {
    margin: 5px 0;
}

footer {
    margin-top: 20px;
}

.empty {
    color: white;
}